{% extends 'base.html.twig' %}


{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">


            <div class="container-fluid1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-md-9 ">
                            <img src="{{ asset('image/pub_guitare.png') }}" alt="PubGuitare"
                                 style="height:550px ;width: 100%">
                        </div>
                        <div class="d-none d-md-block col-md-3 ">
                            <img src="{{ asset('image/banniere_droite_prix.png') }}" alt="BannierePrix"
                                 style="height:550px; width: 100%">
                        </div>
                    </div>
                </div>

            </div>


            <div class="container-fluid2">
                <div class="col-xs-12">
                    <img src="{{ asset('image/banniere_centre_4_pictos.png') }}"
                         alt="banniere_pictogrammes" width="100%">
                </div>
            </div>

    <div class="container-fluid2">
        <div class="container-fluid p-0 m-0">
            <h2>Nos catégories</h2>
            <div class="container-fluid3 p-0 m-0">
                <div class="p-0 m-0 row">
                    <div class="p-0 m-0" >
                        <img src="{{ asset('image/CATEGORIES_guitare.png') }}" alt="guitare" width="24%"
                             class="img-fluid p-0 m-0 "/>

                        <img src="{{ asset('image/CATEGORIES_batterie.png') }}" alt="batterie" width="24%"
                             class="img-fluid p-0 m-0 "/>

                        <img src="{{ asset('image/CATEGORIES_piano.png') }}" alt="piano" width="24%"
                             class="img-fluid p-0 m-0 "/>

                        <img src="{{ asset('image/CATEGORIES_micro.png') }}" alt="micro" width="24%"
                             class="img-fluid p-0 m-0 "/>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid p-0 m-0">
            <div class="container-fluid3 p-0 m-0">
                <div class="p-0 m-0 row">
                    <div class="p-0 m-0" >
                        <img src="{{ asset('image/CATEGORIES_sono.png') }}" alt="sono" width="24%"
                             class="img-fluid p-0 m-0 "/>

                        <img src="{{ asset('image/CATEGORIES_cases.png') }}" alt="case" width="24%"
                             class="img-fluid p-0 m-0 "/>

                        <img src="{{ asset('image/CATEGORIES_cable.png') }}" alt="cable" width="24%"
                             class="img-fluid p-0 m-0 "/>

                        <img src="{{ asset('image/CATEGORIES_saxo.png') }}" alt="saxo" width="24%"
                             class="img-fluid p-0 m-0 "/>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container-fluid2">
        <div class="container-fluid row">
            <div class="container-fluid col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                <h2>Nos meilleures ventes</h2>
                <div class="container-fluid3 yo">
                    <img src="{{ asset('image/TOP_VENTE_guitare.png') }}" alt="GuitareTopVente"  width="30%"
                         class="img-fluid "/>
                    <img src="{{ asset('image/TOP_VENTES_saxo.png') }}" alt="SaxoTopVente"  width="30%"
                         class="img-fluid "/>
                    <img src="{{ asset('image/TOP_VENTES_piano.png') }}" alt="PianosTopVente"  width="30%"
                         class="img-fluid"/>
                </div>
            </div>
            <div class="container-fluid col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <h2>Nos partenaires</h2>
                <div class="container-fluid ">
                    <img src="{{ asset('image/partenaires_4_logos.png') }}" alt="LogosPartenaires"  width="100%"
                         class="img-fluid"/>
                </div>
            </div>
        </div>


    </div>

    <div class="container-fluid2">
        <div class="col-xs-12 ">
            <img src="{{ asset('image/footer_SIMPLE.png') }}" class="img-fluid"
                 alt="BanniereFin" style="height:550px ;width: 100%">
        </div>
    </div>



{% endblock %}